body {
    background: #f6f6f6;
    white-space: nowrap;
    padding: 2%;
}

#table {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

table {
    background: white;
    box-shadow: 0 10px 30px rgba(225, 225, 225, .5);
}

thead tr {
    height: 45px;
    cursor: pointer;
}

.title-td span {
    position: relative;
    top: 6px;
}

input {
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    box-shadow: 0 10px 30px rgba(225, 225, 225, .4) !important;
}

.button {
    width: 32px;
    height: 32px;
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(225, 225, 225, .4);
    border: none;
}

.del, .remove {
    background: orange;
}

.add {
    background: blue;
}

.static input {
    height: 100%;
}

tr > td {
    position: relative;
}

.static {
    position: static !important;
}

.alert {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #bdc3c7, #ecf0f1);
    transition: all 400ms ease;
    transform: translateY(-100%);
}

input[type="text"], input[type="number"] {
  padding: 9px 6px;
}

.alert.active {
    transform: translateY(0);
}

.remove {
    margin-top: 15px;
}

.jumbotron {
    padding: 4rem 2rem;
    text-align: center;
}

#result {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#result li {
    width: 34%;
}
